name: build ECR image

on:
  push:
    branches: ['main']
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: 'Build and Push API Image'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1.7.0
        with:
          role-to-assume: ${{ secrets.IAMROLE_GITHUB }}
          role-session-name: GitHub-Action-Role
          aws-region: 'eu-west-1'

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1



      - name: Build Docker image
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: lasherd-api-gateway 
          IMAGE_TAG: latest
        run: |
          cd api/backend
          echo "${{ secrets.ENV_FILE }}" > .env
          docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .

      - name: Push Docker image to ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: lasherd-api-gateway 
          IMAGE_TAG: latest
        run: |
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG

            

      - name: Update Fargate service
        run: |
          aws ecs update-service --cluster waitlist-api --force-new-deployment --service lasherd-api-gateway 
